spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-api
              uri: http://localhost:8080
              predicates:
                - Path=/users/**
            - id: token-api
              uri: http://localhost:8080
              predicates:
                - Path=/token/**
            - id: product-api
              uri: http://localhost:8082
              predicates:
                - Path=/v1/products/**

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:5173"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true

server:
  port: 8081

authentication:
  client:
    baseUrl: "http://localhost:8080"
    name: "authentication-api-client"
